<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>EhViewer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>允许 EhViewer 将阅读器图片保存到照片</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.liao.ehviewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ehviewer</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>EhViewer Gallery Sync</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.liao.ehviewer.gallerysync</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>EhViewer Download Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.liao.ehviewer.downloadarchive</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.liao.ehviewer.gallerysync</string>
			<key>UTTypeDescription</key>
			<string>EhViewer Gallery Sync</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ehgallery</string>
				</array>
				<key>public.mime-type</key>
				<string>application/zip</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.liao.ehviewer.downloadarchive</string>
			<key>UTTypeDescription</key>
			<string>EhViewer Download Archive</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>eharchive</string>
				</array>
				<key>public.mime-type</key>
				<string>application/zip</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
